You are now given a project directory and required to finish the project task by task.
You have finished all tasks before {{ task_number }}. Now it's your task to finish Task {{ task_number }}.
The unit tests is under `/tests`, and you can run via `bash tests/{{ task_number }}.sh`.
Passing all the tests of {{ task_number }} and also all tests for previous tasks means you have finished this task.
You MUST NOT modify any content under `/tests`.
You also do not need to proceed to next tasks.

Following are the project description:
{project_description}

Also here are some constraints that you must follow:
{constraints}
