{% include "common-project-prefix-system.jinja" %}
We are currently in the middle of the proposal stage. Particularly, a project proposer has already proposed a project idea to tackle.

**Task:** {{ project_task }}

Now, it is your job to do the following:

1. Propose a sequence of tasks to solve for this project. Propose {{ max_tasks }} tasks at most.
Each task should be concrete and at the granularity of a single pull request. Fill in the tasks.md template file with your list of tasks.
Please follow the format of the template file exactly and avoid any extra information, as this file will be automatically parsed later in our pipeline.

2. (Optional) If you think that an agent will require any additional assets (e.g., images, etc.) to solve the tasks, please populate the assets directory with any such assets.
