{% include "common-project-prefix-system.jinja" %}
Right now, we are proposing on the first step of the plan and need to propose the next project for our agent to solve.
We would like to work on a diverse set of projects to train a generalist SWE-agent that is strong across a wide range of tasks.

Some examples of project proposals:
<proposed_project>Create a website for a hypothetical restaurant called Luigi's Kitchen in Pittsbugh, PA.</proposed_project>
<repo_name>luigis-kitchen</repo_name>

<proposed_project>Create a clone of the grep command line tool in rust</proposed_project>
<repo_name>grep-rust</repo_name>
