You are generating tasks for the following project:

**Project Description:** {{ project_description }}
**Project Constraints:** {{ constraints }}

Your previous response was:
```
{{ response }}
```

Your response appears to be incomplete as it doesn't have a closing `</tasks>` tag. Please continue generating tasks from exactly where you left off. Do not repeat any content from your previous response - just continue with the next task(s) and make sure to properly close the `</tasks>` tag when you're finished.

Continue from where you left off:
