Your task is to edit the files in the given repository following these instructions:
1. The repository contains the implementation of a certain project.
2. The implementation commonly lies under /src directory, but it may also appear under other path.
3. You should replace the all current functions with pass, for both implementated ones and those with NotImplementedError, which means that you should remove all the current implementation appearing in all files.
4. You should not change the function name, arguments and the docstrings.
**Important:** You should not leave any function which is not replaced with pass!